@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

html {
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
